@model Productos

@{
    ViewData["Title"] = "Editar Producto";
}

<h1>Editar Producto</h1>
<h5>Los productos nos permiten indicar en qué invertimos nuestro dinero.</h5>

<form asp-action="Editar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Nombre del producto" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>
        <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select">
            <option value="">Selecciona el tipo de operación</option> 
        </select>
        <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Actualizar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
